@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    --color-primary: #000;
    --color-primary-light: #222;
    --color-secondary: #20c20e;
    --color-tertiary: #fff;
    --color-quaternary: #008080;
    --border-radius: 8px;

    font-family: 'Cutive Mono', monospace !important;
    background-color: var(--color-primary-light) !important;
    color: var(--color-tertiary) !important;
    margin: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 10rem;
    box-sizing: inherit;
}

a {
    font-family: 'Cutive Mono', monospace;
    font-size: 116%;
    font-weight: bolder;
    transition: all 0.2s ease;
    text-decoration: none;
    color: var(--color-tertiary);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: var(--border-radius);
    width: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.main {
    font-family: 'Poppins', sans-serif;
    margin: 0px 16px;
    padding: 20px 32px;
    font-size: 108%;
}

::selection {
    color: var(--color-primary-light);
    background: var(--color-secondary);
}

header {
    padding: 0px 20px;
    background-color: var(--color-primary) !important;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: var(--color-tertiary);
    text-decoration: none;
    font-size: 120%;
}

#name {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#name a {
    font-family: 'Poppins', sans-serif;
    padding: 4px 4px;
    color: var(--color-tertiary) !important;
    text-shadow: 0 0 4px var(--color-tertiary);
}

header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul li {
    transition: all 0.2s ease;
    margin-left: 32px;
}

header ul li:hover {
    transform: scale(1.08);
}

header ul a:hover {
    color: var(--color-quaternary) !important;
}

#current {
    font-size: 140%;
    color: var(--color-secondary) !important;
    text-shadow: 0 0 12px var(--color-secondary);
}

#hamburger-icon {
    transition: all 0.2s ease;
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    transition: all 0.2s ease;
    width: 32px;
    height: 4px;
    margin: 6px 0;
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius);
}

.open #bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

.open #bar2 {
    opacity: 0;
}

.open #bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px);
    transform: rotate(45deg) translate(-7px, -6px);
}

.open #mobile-menu {
    background-color: var(--color-primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: -16px;
    height: calc(100vh - 60px);
    width: 100%;
}

#mobile-menu li {
    margin: 16px 0;
    font-size: 160%;
}

/* end of navigation bar */

.main .line {
    height: 20px;
    background-color: var(--color-quaternary);
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 40px;
}

ul {
    list-style: disc;
}

.inner {
    list-style: circle;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    transition: all 0.2s ease !important;
    width: 300px;
    font-size: 200% !important;
    display: inline-block;
    background: var(--color-primary) !important;
    border: var(--color-primary) !important;
    color: var(--color-tertiary);
    border-radius: var(--border-radius) !important;
    margin-bottom: 16px !important;
}

button:hover {
    transform: scale(1.04);
}

.card {
    background: var(--color-primary) !important;
    margin-bottom: 32px;
}

.btn:focus {
    box-shadow: none !important;
}

#descriptors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-content {
    transition: all 0.2s ease;
    width: 240px;
    height: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    border-radius: var(--border-radius);
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .home-content {
        display: block;
        margin: auto;
        margin-top: -32px;
        margin-bottom: 64px;
    }

    .card-project {
        width: 42% !important;
    }

    #main-text #projects {
        margin-top: 6% !important;
        margin-bottom: 6%;
    }
}

.home-content:hover {
    background-color: var(--color-primary);
    cursor: none;
    animation: expand 2s ease-in-out infinite;
}

@keyframes expand {
    0% {transform: translateY(0px); box-shadow: 0px 0px 40px 10px rgba(0, 128, 128, 0.6);}
    50% {transform: translateY(10px); box-shadow: 0px 0px 40px 20px rgba(32, 194, 14, 0.4);}
    100% {transform: translateY(0px); box-shadow: 0px 0px 40px 10px rgba(0, 128, 128, 0.6);}
}

.home-content .float {
    font-size: 180%;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    transition: all 0.2s ease;
    width: 280px;
    padding: 10px;
    margin-bottom: 16px !important;
    margin: auto;
    text-align: center;
    font-size: 280% !important;
    border-radius: var(--border-radius);
    border: 4px solid var(--color-secondary);
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}

h1:hover {
    cursor: none;
    background-color: var(--color-secondary);
    color: var(--color-primary-light);
    box-shadow: 0px 0px 16px 8px rgb(32, 194, 14)
}

h2 {
    font-size: 240% !important;
    font-weight: bolder !important;
}

h3 {
    font-size: 220% !important;
    text-decoration: underline double 2px;
}

.main #projects {
    font-family: 'Cutive Mono', monospace !important;
    margin-top: 69px !important;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 140%;
}

#projects a {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px 4px rgba(32, 194, 14, 1);
    background: transparent;
    text-decoration: none !important;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    color: var(--color-secondary);
}

#projects a:hover {
    background: var(--color-secondary);
    color: var(--color-primary) !important;
    transform: scale(1.1);
    box-shadow: rgba(0, 128, 128, 0.4) -10px 10px, rgba(0, 128, 128, 0.3) -20px 20px, rgba(0, 128, 128, 0.2) -30px 30px, rgba(0, 128, 128, 0.1) -40px 40px;
}

.main a {
    color: var(--color-secondary) !important;
    text-shadow: 0 0 4px var(--color-secondary);
    text-decoration: underline;
    text-decoration-color: rgba(0, 128, 128, 0);

}

.main a:hover {
    text-decoration-color: rgba(0, 128, 128, 1);
}

.countdown {
    transition: all 0.2s ease;
    margin: auto;
    margin-top: 48px;
    width: 300px;
    height: 164px;
    text-align: center;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    font-size: 120%;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 1);
}

.time > p {
    display: inline-block;
    margin: 10px;
}

.time {
    margin-bottom: -4px;
}

.countdown h2 {
    font-size: 120% !important;
    text-decoration: underline;
}

.button {
    transition: all 0.2s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 24px !important;
    width: 200px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background: var(--color-primary);
    color: var(--color-tertiary);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
}

.button:hover {
    background: var(--color-primary-light);
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 1);
}

.countdown:hover {
    cursor: none;
    box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 1);
    background-color: var(--color-primary-light);
}

img {
    width: 100%;
}

.swiper {
    width: 90%;
    text-align: center;
}

.nav-btn {
    transition: all 0.2s ease;
    height: 48px !important;
    width: 48px !important;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.nav-btn::before, .nav-btn::after {
    font-size: 24px !important;
    color: var(--color-tertiary);
}

.swiper-pagination-bullet {
    opacity: 1 !important;
    height: 12px !important;
    width: 12px !important;
    background-color: var(--color-tertiary) !important;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 2px solid var(--color-tertiary);
    background-color: var(--color-quaternary) !important;
}

@media screen and (max-width: 700px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }

    /* header cont. */
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
    /* header end */

    .refs {
        width: 100% !important;
    }

    #line1, #line2 {
        display: block;
    }

    h2 {
        font-size: 180% !important;
    }

    .fancy {
        width: 100% !important;
        height: 150px !important;
        margin-bottom: 24px !important;
    }

    .fancy:hover {
        background-color: transparent !important;
    }

    #trailer {
        background-color: transparent !important;
        border: none !important;
    }

    .card-project {
        margin: 32px 0px !important;
        width: 100% !important;
        height: 440px !important;
    }

    .discord-bot-imgs img, .crazy-numbers-imgs img {
        height: auto !important;
        border: none !important;
    }

    .discord-bot-imgs img {
        width: 100% !important;
    }

    .crazy-numbers-imgs img {
        width: 98% !important;
    }

    #home {
        display: block !important;
    }

    #main-image img {
        margin-bottom: 40px;
    }

    .typing-container {
        font-size: 1.4rem !important;
    }

    #main-text {
        width: 100% !important;
    }

    #main-text #projects {
        margin-top: 10% !important;
        margin-bottom: 12% !important;
    }

    #crazy-nums-swiper-wrapper, #virtual-assistant-swiper-wrapper {
        display: flex;
        align-items: center;
    }

    #double-imgs {
        display: block !important;
    }

    #double-imgs img {
        width: 100% !important;
    }

    #big-img {
        width: 100%;
    }

    .virtual-assistant-imgs img {
        width: 100% !important;
        border: none !important;
    }

    #big-img img {
        height: 100% !important;
        margin: 0% !important;
    }
}

footer {
    background-color: var(--color-primary);
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.refs {
    width: 40%;
    margin: auto;
    margin-bottom: 24px;
}

.ref-link a {
    color: var(--color-tertiary);
}

.ref-link a:hover {
    color: var(--color-secondary);
}

.fancy {
    text-align: center;
    height: 100px;
    width: 80%;
    border-radius: 60px;
    padding: 8px;
    margin: auto;
    margin-bottom: 32px;
    transition: all 0.2s ease;
}

#line1, #line2 {
    display: inline-block;
    margin: 0 16px;
}

.letter {
    display: inline-block;
    transition: all 0.2s ease;
    margin-top: 16px;
}

.fancy:hover {
    background-color: var(--color-primary);
}

.fancy:hover > #line1 > .letter:nth-child(1) {
    transform: translateY(-32%) rotate(-8deg);
}

.fancy:hover > #line1 > .letter:nth-child(2) {
    transform: translateY(16%) rotate(-32deg);
}

.fancy:hover > #line1 > .letter:nth-child(3) {
    transform: translateY(-20%) rotate(16deg);
}

.fancy:hover > #line1 > .letter:nth-child(4) {
    transform: translateY(24%) rotate(-8deg);
}

.fancy:hover > #line2 > .letter:nth-child(1) {
    transform: translateY(32%) rotate(32deg);
}

.fancy:hover > #line2 > .letter:nth-child(2) {
    transform: translateY(-20%) rotate(-16deg);
}

.fancy:hover > #line2 > .letter:nth-child(3) {
    transform: translateY(20%);
}

.fancy:hover > #line2 > .letter:nth-child(4) {
    transform: translateY(-32%) rotate(8deg);
}

.fancy:hover > #line2 > .letter:nth-child(5) {
    transform: translateY(12%) rotate(-24deg);
}

.fancy:hover > #line2 > .letter:nth-child(6) {
    transform: translateY(-20%) rotate(-4deg);
}

.fancy:hover > #line2 > .letter:nth-child(7) {
    transform: translateY(40%) rotate(8deg);
}

.fancy:hover > #line2 > .letter:nth-child(8) {
    transform: translateY(-24%) rotate(-16deg);
}

/* mouse trailer  */

#trailer {
    height: 6px;
    width: 6px;
    background-color: var(--color-tertiary);
    border-radius: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    border: 1px solid var(--color-tertiary)
}

body:hover > #trailer{
    opacity: 1;
}

/* end of mouse trailer  */

#cards {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.card-project {
    background: var(--color-primary);
    margin: 4% 3%;
    width: 26%;
    height: 428px;
    border: var(--color-secondary) solid 2px !important;
    border-radius: var(--border-radius);
    padding: 12px;
    box-shadow: 14px 14px rgba(0, 0, 0, 0.8);
    position: relative;
    transition: all 0.2s ease;
    font-size: 1rem;
}

.bigger-card {
    height: 469px;
}

.card-project:hover {
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.card-project a {
    color: var(--color-tertiary) !important;
    cursor: pointer;
}

.card-project a:hover {
    color: var(--color-quaternary) !important;
}

.card-project h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.card-project .image {
    border: 2px solid var(--color-primary-light);
    border-radius: var(--border-radius);
    margin-bottom: 14px;
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.image img {
    height: 180px;
    width: 100%;
    object-fit: cover ;
    transition: all 1s ease-in-out;
}

.image img:hover {
    transform: scale(1.04);
}

.card-project .rule {
    background-color: var(--color-tertiary) !important;
    border-radius: var(--border-radius);
    margin-bottom: 8px;
    height: 8px;
}

.card-project p {
    margin-top: 20px !important;
    margin-bottom: 4px;
}

.card-footer {
    margin-top: 8px;
    margin-left: -12px !important;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.tags {
    display: inline-block;
    width: 89%;
    margin-bottom: 8px;
}

.arrow {
    width: 9%;
    display: inline-flex;
}

.arrow .material-symbols-outlined {
    margin-bottom: -10px;
}

.tag {
    background-color: var(--color-primary-light);
    text-shadow: 0 0 4px var(--color-secondary);
    padding: 4px;
    border-radius: var(--border-radius);
    color: var(--color-secondary);
    font-size: 90%;
    display: inline-block;
    margin: 6px 2px;
}

.special {
    color: var(--color-quaternary);
    text-shadow: 0 0 4px var(--color-quaternary);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24;

  float: right;
  margin-top: 10px;

}

#time-info {
    text-align: center;
    margin-top: -24px;
}

#time-info hr {
    width: 40%;
    margin: auto;
    margin-bottom: 12px;
}

.swiper-slide img {
    border-radius: var(--border-radius);
}

.crazy-numbers-imgs img {
    height: 400px;
    width: auto;
    border: 2px solid var(--color-tertiary);
}

.discord-bot-imgs img {
    height: 500px;
    width: auto;
    margin: auto;
    border: 2px solid var(--color-secondary);
}

.virtual-assistant-imgs img {
    width: 80%;
    margin-top: 8%;
    margin: auto;
    border: 2px solid var(--color-tertiary);
}

@media screen and (min-width: 1000px) {
    #big-img img {
        width: 60% !important;
        margin-top: 3%;
    }
}

#double-imgs {
    display: flex;
    align-items: center;
}

#double-imgs img {
    margin: 4% auto;
    width: 44%;
}

.typing-container {
    padding-left: 10%;
    padding-top: 10%;
    font-size: 2rem;
}

#main-text {
    width: 80%;
    top: 50% !important;
}

#main-text .typing-container, #main-text #projects {
    display: block !important;
}

#main-image img {
    margin-top: 4px;
    height: calc(100vh - (60px + 176px + 40px) - 20px);
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 0 0 16px 2px var(--color-secondary), 16px 16px var(--color-primary);
}

.auto-type {
    color: var(--color-secondary);
    text-shadow: 0 0 8px var(--color-secondary);
}

#main-text #projects {
    text-align: left;
    padding-left: 10%;
    margin-top: 10%;
}

#home {
    display: flex;
}

.card-footer a {
    text-shadow: none;
}